
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared styles */
.text-primary{
    color:#fd6e0a;
}
.dark-2{
   color:#474747;
}
.sectin-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    
}

.section-description{
    font-size:18px;
    color:#757575;


}
.btn-primary{
   background-color:#fd6e0a;
   font-weight:bold;
   color:white;
   padding: 18px 35px;
   border-radius: 5px;
   border: none;
   font-size: 20px;
}
.secondary-bg{
    background-color:#FFF8F3;
}
.text-center{
    text-align:center;
}




/* header styles */
.header{
    background-image:url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;


}   






/* nav styles */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 0px 150px;
}

nav ul{
    display:flex;
    align-items:center;
    
   
}
nav ul li{
     list-style:none;
     margin:50px;
     

}


nav ul li a{
    text-decoration:none;
    

}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
/* banner styles */
.banner{
    display:flex;
    justify-content:space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content{
    max-width:580p

}

.banner-gretings{
    font-size:45px;
    font-weight:600;
}
.banner-title{
    font-size:85px;
    font-weight:bold;
}
.banner-profile{
    width:580px;
}
/* main styles */

main{
    max-width:1140px;
    margin: 0px auto;
    background-color:white;
}

/* about styles */

main section{
    margin-top:130px;
    margin-bottom: 130px;
}

.about{
    border-radius: 10px;
    padding: 130px 150px; 
    margin-top: 130px;
    text-align:center;

}
.item-description{
    font-weight:600;

}

.about-items{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.item-title{
    color:#474747;
    font-size: 20px;

}
.section-description{
     color:#474747;
    font-size: 18px;

}
.skills-container{
    display:flex;
    gap:24px;

}
.skill{
    padding:30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0, 0.06);
    align-items:left;

}